
.desc-parent {
    display: flex;
    flex-direction: column;
}

.desc{
    display: flex;
}

.subhead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-title {
    font-size: 44px;
    padding: 0 30px;
    font-weight: 600;
}

.body {
    line-height: 1.3;
}

.body-text {
    width: 75%;
    margin: auto;
}

.description {
    font-size: 16px;
}

.subheading {
    font-weight: 900;
    font-size: 2vw;
    align-items: center;
    margin: 10px 0;
}
.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (max-width: 920px){
    .description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 775px){
    .description {
        font-size: 12px;
    }
}