
.desc-parent {
    display: flex;
    flex-direction: column;
}

.desc{
    display: flex;
    align-items: center;
}

.date {
    font-size: 16px;
    line-height: 1.6;
    margin: 5px 0;
}

.subhead {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
}

.proj-title {
    font-size: 45px;
    padding: 0 30px;
    font-weight: 600;
}

.body {
    line-height: 1.3;
}

.body-text {
    width: 75%;
    margin: auto;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin: 25px 0;
}

.descriptions {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

header, .rows {
    display: flex;  /* aligns all child elements (flex items) in a row */
  }
  
  .col {
    flex: 1;        /* distributes space on the line equally among items */
  }

  .pad {
    padding: 0 15px 0 0;
  }

.subheading {
    font-weight: 900;
    font-size: 24px;
    align-items: center;
    margin: 10px 0;
    color: #45992f;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 920px){
    .description, .descriptions, .date {
        font-size: 14px;
        line-height: 1.4;
    }
    .proj-title {
        font-size: 28px;
        padding: 0 30px;
        font-weight: 600;
    }
    .subheading {
        font-weight: 900;
        font-size: 20px;
        align-items: center;
        margin: 10px 0;
        color: #45992f;
    }
}

.img-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* margin: 3em 3em; */
    width: 75%;
    margin: auto;
}

.video-embed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.video-display {
    width: 80%;
    height: auto;
}
.bold {
    font-weight: 600;
}
.port, .imgs {
    width: 30%;
    margin: 0 30px;
    border-radius: 16px;
}

.wire-section, .img-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 775px){
    .wire-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .port {
        width: 75%;
        padding: 10px 0;
        border-radius: 10px;
    }
    .img-sections {
        padding: 0 10px;
    }
    .imgs {
        width: 40%;
        margin: 0 10px;
    }
    .table {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .description, .descriptions, .date {
        font-size: 12px;
        line-height: 1.2;
    }
    .proj-title {
        font-size: 24px;
        padding: 0 30px;
        font-weight: 600;
    }
    .subheading {
        font-weight: 900;
        font-size: 16px;
        align-items: center;
        margin: 10px 0;
        color: #45992f;
    }
}