/* body of the about page */
.about-body-text{
    width: 85%;
    margin: auto;
}
.abt-desc {
    font-size: 16px;
    line-height: 1.6;
    padding:  0 15px;
}
.abt-imgs {
    width: 30%;
    margin: 3px 4px;
    border-radius: 16px;
}
.abt-img-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
/* formatting for landscape images */
.big-img {
    width: 45%;
    margin: 5px 10px;
    border-radius: 16px;
}
.body-text-wide {
    width: 91%;
    margin: auto;
}
/* parent flexbox that contains each row of the about page */
.collage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
}
/* image portion of each row */
.collage-left {
    width: 60%;
}
/* text portion of each row */
.collage-right{
    width: 30%;
}
.phone-text {
    display: none;
}
.picture-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 3em 2em;
}
.resize-img {
    width: 27%;
    margin: 5px 10px;
    border-radius: 16px;
}

/* phone layout */
@media only screen and (max-width: 775px){
    .phone-text {
        font-size: 12px;
        line-height: 1.2;
    }
}

/* iPad layout */
@media only screen and (max-width: 920px){
    .phone-text {
        font-size: 14px;
        line-height: 1.4;
    }
}

/* minimized desktop layout */
@media screen and (max-width: 1025px) {
    .abt-desc {
        display: none;
    }
    .collage{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0;
        justify-content: center;
    } 
    .collage-left {
        flex-direction: row;
        overflow-wrap: normal;
        width: initial;
    }
    .phone-text {
        display: initial;
        font-size: 14px;
        line-height: 1.4;
    }  
  }