body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
    transition: color .3s ease,background-color .3s ease;
  }

.header {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;
}

.menu {
    flex: 1 0 auto;
    text-align: right;
    
}
.navbar-item {
    margin: 0 50px;
    font-weight: 600;
}

.nav-bar{
  background-color: rgba(255, 255, 255, 0.9);
}
a {
    color: #000;
    text-decoration: none;
}

.huarui-logo {
    font-weight: bolder;
    width: 50px;
    color: #D0ECBC;
    padding: 0 0 0 20px;
    background-color: rgba(255, 255, 255, 0);
}

.flex {
    display: flex;
}

.logo {
    margin: 1rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0 50px;
    font-weight: 600;
}

.space {
    margin: 0 0 0 50px;
}

.space:hover {
    color: #80B957;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 0 50px;
}

.intro-text {
    flex: 0 1 auto;
}

.jump {
    flex: 1 0 auto;
    margin: 10px 50px;
    border-radius: 20px;
}
.section-header {
    font-weight: 900;
    font-size: 41px;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.icon-big {
  width: 30px;
  height: 30px;
  padding: 0 7px;
}

.contact {
    vertical-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.green-font {
    color: #80B957;
    font-weight: 550;
}
.body-text{
    font-weight: 500;
    margin: 50px 20px 50px 0;
    font-size: 2.5vmin;
    align-items: center;
}
.title-text{
  font-size: 16px;
}
.small-text {
  font-size: 16px;
}
 
.parent-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.9vh;
    padding: 20px 45px 30px 45px;
    align-items: center;
  }
  
  .flex-item-left {
    flex: 35%;
  }

  .jamjelly{
    z-index: 5;
    display: none;
  }
  .show{
    display: inline;
  }

  .left {
    flex: 60%;
  }
  
  .flex-item-right {
    flex: 60%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
}

.proj {
    margin: 20px;
    align-items: center;

    /* adding anime.js */
    opacity: 0;
}

  .cap {
    border-radius: 4%;
    width: 100%;
  }

  .services {
    padding: 15px 0 0 0; 
    position: relative;
  }

  .button {
    padding: 0 25px 0 20px;
    margin: 0 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #007D3E;
    color: #007D3E;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .left {
    padding: 0 20px 0 15px;
  }

  .right {
    padding: 0 15px 0 20px;
  }

  .arrow {
    width: 30px;
    height: 30px;
  }

  .button:hover {
    box-shadow: inset 8em 0 0 0 #007D3E;
    color: white;
    border-style: solid;
    border-color: #007D3E;
  }

  .footer {
    padding: 7px;
  }

  .center {
    justify-content: center;
    padding: 7px 0 10px 0;
  }

  .services-list{
    justify-items: center;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
  }

 .services-list-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
  }

  .username, .username-1 {
    font-size: 14px;
  }

  .inner-flex {
    display: flex;
  }

  .parent-flex-small{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.9vh;
    padding: 20px 25px 30px 25px;
    align-items: center;
  }

  .proj-desc{
    margin: 0 10px;
    font-weight: 550;
    font-size: 16px;
  }
  .long, .long-1 {
    margin: 0 10px;
    font-weight: 550;
    font-size: 16px;
}
.short {
    display: none;
}
  .overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(255, 255, 255, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-weight: 500;
    color: black;
    transition: ease-in-out 0.6s;
  }

  .blur {
    backdrop-filter: blur(3px);
  }

  .no-blur {
    backdrop-filter: blur(0);
  }
 
  .overlay:hover{
    opacity: 1;
  }

  .proj {
    flex: 1 0 30%;
    text-align: center;
    font-weight: 575;
  }

  .proj-thumbnail {
    position: absolute;
  }

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media screen and (max-width: 600px) {
    .flex-item-right, .flex-item-left, .left {
      flex: 100%;
    }
    .proj {
      flex: 1 0 80%;
      text-align: center;
      font-weight: 575;
    }
    .inner-flex {
      display: flex;
    }  
    .primary-navigation {
      margin: 10px 25px 10px 0px;
    }
    .proj-desc{
      margin: 0 10px;
      font-weight: 550;
      font-size: 12px;
      position: absolute; 
      top: 26px;
    }
    .section-header {
      font-weight: 900;
      font-size: 18px;
      align-items: center;
    }
    .short {
      margin: 0 10px;
      font-weight: 550;
      font-size: 12px;
      display: initial;
    }
    .long-1 {
      margin: 0 10px;
      font-weight: 550;
      font-size: 12px;
    }
    .long{
        display: none;
    }
  }

  @media (max-width: 850px){
    .body {
      margin: auto;
    }
    .short {
      margin: 0 10px;
      font-weight: 550;
      font-size: 14px;
      display: initial;
    }
    .long{
        display: none;
    }
    .long-1 {
      margin: 0 10px;
      font-weight: 550;
      font-size: 14px;
    }
    .proj-desc{
      margin: 0 10px;
      font-weight: 550;
      font-size: 14px;
    }
    .title-text {
      font-size: 15px;
      line-height: 180%;
    }
    .section-header {
      font-weight: 900;
      font-size: 23px;
      align-items: center;
  }
    .small-text {
      font-size: 13px;
    }
    .services-list-1{
      display: flex;
      justify-content: center;
    }
    .content{
      display: none;
      
    }
  }
  
  @media (max-width: 1000px){
    .username{
      display: none;
    }
    .proj-desc{
      margin: 0 10px;
      font-weight: 550;
      font-size: 14px;
    }
    .short {
      margin: 0 10px;
      font-weight: 550;
      font-size: 14px;
      display: initial;
    }
    .long{
      display: none;
    }
  }