a {
  color: #000;
  text-decoration: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* project image blurred when hovered on index.html page */
.blur {
  backdrop-filter: blur(3px);
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  transition: color .3s ease,background-color .3s ease;
}
.center {
  justify-content: center;
  padding: 7px 0 10px 0;
}
/* contact information flexbox at the bottom of each page */
.contact {
  vertical-align: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.flex {
  display: flex;
}
/* flex children on index.html page */
.flex-item-left {
  flex: 35%;
}
.flex-item-right {
  flex: 60%;
}
.footer {
  padding: 7px;
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
}
.green-font {
  color: #80B957;
  font-weight: 550;
}
.header {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;
}
/* format for personal logo */
.huarui-logo {
  font-weight: bolder;
  width: 50px;
  color: #D0ECBC;
  padding: 0 0 0 20px;
  background-color: rgba(255, 255, 255, 0);
}
/* icons in the footer of each page */
.icon {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
.image-display {
  border-radius: 4%;
  width: 100%;
}
.inner-flex {
  display: flex;
}
.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0 50px;
}
.intro-text {
  flex: 0 1 auto;
}
.left {
  flex: 60%;
  padding: 0 20px 0 15px;
}
.logo {
  margin: 1rem;
}
/* on:hover text that shows up for projects on index.html page */
.long, .long-1 {
  margin: 0 10px;
  font-weight: 550;
  font-size: 16px;
}
.navbar-item {
    margin: 0 50px;
    font-weight: 600;
}
.nav-bar{
  background-color: rgba(255, 255, 255, 0.9);
}
.no-blur {
  backdrop-filter: blur(0);
}
/*div that goes over project images to allow for blur on hover on index.html page */
.overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-weight: 500;
  color: black;
  transition: ease-in-out 0.6s;
}
.overlay:hover{
  opacity: 1;
}
.parent-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3.9vh;
  padding: 20px 45px 30px 45px;
  align-items: center;
}
/* header bar at the top of each page */
.primary-header {
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0 50px;
    font-weight: 600;
}
.proj {
  margin: 20px;
  align-items: center;
  flex: 1 0 30%;
  text-align: center;
  font-weight: 575;

  /* adding anime.js to allow for projects to face in */
  opacity: 0;
}
.proj-thumbnail {
  position: absolute;
}
.proj-desc{
  margin: 0 10px;
  font-weight: 550;
  font-size: 16px;
}
.right {
  padding: 0 15px 0 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; 
}
/* format for name on index.html page */
.section-header {
  font-weight: 900;
  font-size: 41px;
  align-items: center;
}
/* format for personal description on index.html page */
.section-text{
  font-weight: 500;
  margin: 10px 50px 10px 0;
  font-size: 20px;
  align-items: center;
}
.project{
  padding: 15px 0 0 0; 
  position: relative;
}
/* formatting for project flexbox items */
.project-list{
  justify-items: center;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}
.short {
  display: none;
}
.show{
display: inline;
}
.small-text {
  font-size: 16px;
}
/* navbar formatting for "about" and "resume" */
.space {
    margin: 0 0 0 50px;
}
.space:hover {
    color: #80B957;
}

.title-text{
  font-size: 16px;
}

/* display for contact information usernames in the footer of each page */
.username, .username-1 {
  font-size: 14px;
}

/* phone layout */
@media screen and (max-width: 600px) {
  .flex-item-right, .flex-item-left, .left {
    flex: 100%;
  }
  .inner-flex {
    display: flex;
  }  
  .long{
    display: none;
  }
  .long-1 {
    margin: 0 10px;
    font-weight: 550;
    font-size: 12px;
  }  
  .parent-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.9vh;
    padding: 20px 45px 20px 45px;
    align-items: center;
  }
  .primary-navigation {
    margin: 10px 25px 10px 0px;
  }
  .proj {
    flex: 1 0 80%;
    text-align: center;
    font-weight: 575;
  }
  .proj-desc{
    margin: 0 10px;
    font-weight: 550;
    font-size: 12px;
    position: absolute; 
    top: 26px;
  }
  .project {
    position: relative;
    padding: initial;
  }
  .project-list{
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .section-header {
    font-weight: 900;
    font-size: 18px;
    align-items: center;
  }
  .section-text{
    font-weight: 500;
    margin: 10px 20px 10px 0;
    font-size: 15px;
    align-items: center;
  }
  .short {
    margin: 0 10px;
    font-weight: 550;
    font-size: 12px;
    display: initial;
  }    
}

/* tablet layout */
@media (max-width: 850px){
  .body {
    margin: auto;
  }
  .content{
    display: none;
  }
  .long{
    display: none;
  }
  .long-1 {
    margin: 0 10px;
    font-weight: 550;
    font-size: 14px;
  }   
  .proj-desc{
    margin: 0 10px;
    font-weight: 550;
    font-size: 14px;
  }
  .section-header {
    font-weight: 900;
    font-size: 27px;
    align-items: center;
  }
  .section-text{
    font-weight: 500;
    margin: 10px 20px 10px 0;
    font-size: 17px;
    align-items: center;
  }
  .project-list-1{
    display: flex;
    justify-content: center;
  }   
  .short {
    margin: 0 10px;
    font-weight: 550;
    font-size: 14px;
    display: initial;
  }
  .small-text {
    font-size: 13px;
  }
  .title-text {
    font-size: 15px;
    line-height: 180%;
  }
}

/* minimized desktop view */
@media (max-width: 1000px){
  .long{
    display: none;
  }
  .proj-desc{
    margin: 0 10px;
    font-weight: 550;
    font-size: 14px;
  }
  .short {
    margin: 0 10px;
    font-weight: 550;
    font-size: 14px;
    display: initial;
  }
  .username{
    display: none;
  }    
}